/* Default styles
 =================================================== */
* {
    box-sizing: border-box;
    margin: 0;
}
.wrap {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* Header content
 =================================================== */
header {
    padding: 107px 0 40px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
}

hr {
    width: 64px;
    height: 2px;
    margin: 30px auto;
    background: #FF8B38;
    border: none;
}

h4 {
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}

/* Main content
 =================================================== */
main {
    padding: 40px 0 107px;
    font-size: 0;
}

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

h2 {
    margin: 29px 0;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

.icon--lamp {
    background: url(../img/lamp.png) no-repeat center center;
}

.icon--keyboard {
    background: url(../img/keyboard.png) no-repeat center center;
}

.icon--lightning {
    background: url(../img/lightning.png) no-repeat center center;
}
